body {
      font-family: Arial, sans-serif;
      background-image: url('https://images.pexels.com/photos/2736499/pexels-photo-2736499.jpeg?cs=srgb&dl=pexels-content-pixie-2736499.jpg&fm=jpg');
      background-size: cover;
      background-position: center;
      margin: 0;
      padding: 0;
    }
    
    .container {
      max-width: 800px;
      margin: 50px auto;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 20px;
      color: #333;
    }
    
    #task-input {
      width: 90%;
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
      margin-bottom: 2px;
    }
    
    #add-task-btn {
      padding: 10px 6px;
      float: right;
    }
    
    .task-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      margin-top: 5px;
    }
    
    .task-item input[type="checkbox"] {
      margin-right: 10px;
    }
    
    .task-item .task-name {
      flex-grow: 1;
      color: #333;
    }
    
    .task-item .delete-btn {
      background-color: #ff4d4d;
      color: white;
      padding: 3px 5px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    .clearfix::after {
      content: '';
      display: table;
      clear: both;
    }
